<app-header></app-header>
<section class="container bg-light" style="padding:50px 50px">
    <div id="accordion" >
                      <div class="card">
                        <div class="card-header bg-white">
                          <a class="card-link text-dark" data-toggle="collapse" href="#collapseOne">
                            IS ILANDER IS THE INSTITUTE?
                          </a>
                          <i class="bi bi-caret-down-fill" data-toggle="collapse" href="#collapseOne" style="float:right"></i>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                          <div class="card-body bg-secondary text-white">
                            No, ILANDER TECHNOLOGIES PRIVATE LIMITED is a Company and ILANDER TRAINING AND CONSULTANCY SERVICES is the part of our Ilander Technololgies.
                          </div>
                        </div>
                      </div>
                      
                     <div class="card">
                        <div class="card-header bg-white">
                          <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapseTwo">
                            WHAT ARE ALL THE TECHNOLOGIES AVAILABLE IN ILANDER?
                          </a>
                          <i class="bi bi-caret-down-fill" data-toggle="collapse" href="#collapseTwo" style="float:right"></i>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                          <div class="card-body bg-secondary text-white">
                            UI/Web Designing, UI/UX Designing and Development, Web Development, Angular JS, Angular 2/4/5/6/7, PHP, Full Stack Web Developer, Digital Marketing, SEO, Graphic Designing, .Net, Python(Web python).
                          </div>
                        </div>
                     </div>
                    <div class="card">
                        <div class="card-header bg-white">
                          <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapseThree">
                            WHAT IS THE MODE OF TRAINING ?
                          </a>
                          <i class="bi bi-caret-down-fill" data-toggle="collapse" href="#collapseThree" style="float:right"></i>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                          <div class="card-body bg-secondary text-white">
                            In ILander Technologies there is no Classroom Training & Group Training, here training will be Individual and fully One to One basis because Traditional approaches to learning are failing. In order to stay competitive and to keep learning, organizations are looking for alternatives. One of these alternatives is real-time learning.
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-white">
                          <a class="collapsed card-link text-dark" data-toggle="collapse" href="#c4">
                            IS THE TRAINING THEORETICAL OR PRACTICAL?
                          </a>
                          <i class="bi bi-caret-down-fill" data-toggle="collapse" href="#c4" style="float:right"></i>
                        </div>
                        <div id="c4" class="collapse" data-parent="#accordion">
                          <div class="card-body bg-secondary text-white">
                            The training will be completely Down-to-Earth Practical oriented, We also provide live exposure on projects and give assignments to test your skill sets.
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header bg-white">
                          <a class="collapsed card-link text-dark" data-toggle="collapse" href="#c5">
                            WHO IS THE TRAINER FOR ME?
                          </a>
                        <i class="bi bi-caret-down-fill" data-toggle="collapse" href="#c5" style="float:right"></i>
                        </div>
                        <div id="c5" class="collapse" data-parent="#accordion">
                          <div class="card-body bg-secondary text-white">
                            Our Team of Real-time Experts in ILANDER TECHNOLOGIES PRIVATE LIMITED is your Trainer.
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header bg-white">
                          <a class="collapsed card-link text-dark" data-toggle="collapse" href="#c6">
                            DO YOU PROVIDE LIVE PROJECT WITH TRAINING?
                          </a>
                          <i class="bi bi-caret-down-fill" data-toggle="collapse" href="#c6" style="float:right"></i>
                        </div>
                        <div id="c6" class="collapse" data-parent="#accordion">
                          <div class="card-body bg-secondary text-white">
                            Yes, at the time of Learning the Technology We will provide opportunity to work on our live projects.
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header bg-white">
                          <a class="collapsed card-link text-dark" data-toggle="collapse" href="#c7">
                            WHAT ARE LIVE PROJECTS TRAINING?
                          </a>
                          <i class="bi bi-caret-down-fill" data-toggle="collapse" href="#c7" style="float:right"></i>
                        </div>
                        <div id="c7" class="collapse" data-parent="#accordion">
                          <div class="card-body bg-secondary text-white">
                            Live Projects Means where Trainees and Professionals can work in a project which gives you to work in a real time projects. With the help of real time projects you can work on any technology by your own.
                          </div>
                        </div>
                      </div>
                    <div class="card">
                        <div class="card-header bg-white">
                          <a class="collapsed card-link text-dark" data-toggle="collapse" href="#c8">
                            DOES YOUR COMPANY PROVIDE 100% PLACEMENT GUARANTEE?
                          </a>
                          <i class="bi bi-caret-down-fill" data-toggle="collapse" href="#c8" style="float:right"></i>
                        </div>
                        <div id="c8" class="collapse" data-parent="#accordion">
                          <div class="card-body bg-secondary text-white">
                            No, we do not make any fraudulent offers about placements to make you join in ILANDER, In fact we guarantee 100% subject as per real-time standards so you will be ready for the job after completing the training.
                          </div>
                        </div>
                    </div>
                      
        </div>
                      
</section><br><br>
<app-footer></app-footer>