.rt{
	padding:70px 180px;
	background-color: #042e6f;
}
.df
{
    float: right;
}
.media i
{
	border : 2px solid white;
	padding : 3px 5px;
}
.media-body
{
	padding-left:15px;
}
@media (max-width:800px)
{
	.card li
	{
		display: block;
	}
	.card{
		width:100%;
	}
}
