<app-header></app-header>
<section id="main">
	<div class="container abt">
		<div class="pls">
		<ul class="nav nav-pills nav-justified ">
		
			<li class="nav-item">
				<a href="#msg" data-toggle="pill" class="nav-link  active">ABOUT ILANDER</a>
			</li>
			
			<li class="nav-item">
				<a href="#msg1" data-toggle="pill" class="nav-link">MISSION / VISION</a>
			</li>
			
			<li class="nav-item">
				<a href="#msg2" data-toggle="pill" class="nav-link">WHY TO JOIN?</a>
			</li>
			
			<li class="nav-item">
				<a href="#msg3" data-toggle="pill" class="nav-link">PROCESS OF JOIN?</a>
			</li>
			
			<li class="nav-item">
				<a href="#msg4" data-toggle="pill" class="nav-link">ELIGIBILITY?</a>
			</li>
			
			<li class="nav-item">
				<a href="#msg5" data-toggle="pill" class="nav-link">PORTFOLIO</a>
			</li>
		</ul>
		</div>
		<br>
		<div class="tab-content" style="padding:10px 20px">
			<div class="tab-pane active" id="msg">
				<img src="assets/images/about1.jpg" width="35%" height="50%" class="img-responsive" style="float:left;padding-right:20px">
				<h5 class="text-primary">iLander techologies is the one of the best training services provided in hyderabad</h5>
				<p>iLander technologies is trusted and a Leading Training Company in KPHB, Hyderabad. All Companies in Hyderabad located in and around Madhapur, Hitech City. Our KPHB are near to this locality. Kukatpally is one of the prime areas for Training. It is formed in the view of the ever-growing demands of the software market.
				<br><br>
				For the skilled manpower in high-end technology courses like UI, PHP, Angular and digital marketing Courses that are perfect for students and working professionals alike. Since we started our company, we focused mainly on imparting quality training in marketing. Our goal is to deliver Practical Oriented Quality Education with real-time projects. We offer specialized skill-based practical programs in UI, PHP, Angular, digital marketing training, seo training, Google AdWords, Social media marketing and web designing course. Our courses are designed for students, working professionals and entrepreneurs to learn and implement the concepts in the real world scenarios.
				<br><br>
				Our aim is to not only provide a training we give a placement assistance that will make yourself sufficient to start working as soon as possible in a good company. In iLander we deal many companies each month to assist students with placements. We cater to our students with a number of modules in place to prepare them for the needs and wants of the particular field. Using the Internet and the rising prevalence of mobile devices, we aim to improve the employment rates in our country.</p>
				<br>
				<h3 class="text-primary text-center">Our Journey</h3>
				<div>
					<ul style="list-style-type:none"class="text-center">
						<li style="display: inline-block;padding:20px 10px"><div style="padding:80px;border-radius : 50%;"  class="bg-danger">1</div></li>
						<li style="display: inline-block;padding:20px 10px"><div style="padding:80px;border-radius : 50%"  class="bg-danger">1</div></li>
						<li style="display: inline-block;padding:20px 10px"><div style="padding:80px;border-radius : 50%"  class="bg-danger">1</div></li>
						<li style="display: inline-block;padding:20px 10px"><div style="padding:80px;border-radius : 50%"  class="bg-danger">1</div></li>
						<li style="display: inline-block;padding:20px 10px"><div style="padding:80px;border-radius : 50%"  class="bg-danger">1</div></li>
					</ul>
				</div>
				<h3 class="text-primary text-center">Our management</h3><br>
				<div class="text-center">
					<div class="row text-center">
						<div class="col-12 col-md-3 col-xl-3 " style="padding:10px 20px">
							
						</div>
						<div class="col-12 col-md-3 col-xl-3 border border-dark" style="padding:10px 20px">
							<img src="assets/images/person.jpg" width="80px" height="100px"><br><strong>Shiva Shankar</strong><br><p>Managaging Director</p>
						</div>
						<div class="col-12 col-md-4 col-xl-3 border border-dark" style="padding:10px 20px">
							<img src="assets/images/person.jpg" width="80px" height="100px"><br><strong>Yellamanda Rao</strong><br><p>Project Director</p>
						</div>
						<div class="col-12 col-md-3 col-xl-3" style="padding:10px 20px">
							
						</div>
					</div>
				</div>
				<br><br>
			</div>
			<div class="tab-pane" id="msg1">
				<img src="assets/images/about2.jpg" width="35%" height="50%" class="img-responsive" style="float:left;padding-right:20px">
				<h4 class="text-primary">Vision</h4>
				<p>To create innovative training methodologies and products to make education useful in practical life. we envision success stories for every student who leaves our doorstep as an expert, ensuring every dream, is recognised independent of location. We want to be recognised as the benchmark against which all cutting-edge professionals are measured and continually raise our own standards to be the India “Advanced Real Time Training Company In Hyderabad.”</p>
				<h4 class="text-primary">Mission</h4>
				<p>At iLander, we are committed to imparting the Advanced UI, PHP, Angular and digital marketing courses, advanced SEO training, marketing courses and in-depth practical knowledge of social media marketing strategies to meet the growing demands of professionals worldwide. Our Training Company at Hyderabad Offers Working on real-time Projects and Assignments.</p>
			</div>
			<div class="tab-pane" id="msg2">
				<img src="assets/images/aboutt.png" width="30%" height="30%" class="img-responsive" style="float:left;padding-right:20px">
				<h4 class="text-primary">Why to Join Ilander?</h4>
				<p>At iLander, we are committed to imparting the Advanced UI, PHP, Angular and digital marketing courses, advanced SEO training, marketing courses and in-depth practical knowledge of social media marketing strategies to meet the growing demands of professionals worldwide. Our Training Company at Hyderabad Offers Working on real-time Projects and Assignments.</p><br><br><br>
			</div>
			<div class="tab-pane" id="msg3">
				<img src="assets/images/abb.jpg" width="30%" height="30%" class="img-responsive" style="float:left;padding-right:20px">
				<h4 class="text-primary">Process of joining in ILander</h4>
				<p>iLander offers following computer basics, web development, Graphic Design, Angular and other related courses with experienced faculty. The goal of a basic computer literacy course is to equip students with basic computer skills. Additional advanced courses may be taken to strengthen knowledge.</p>
				<br>
				<p>Schedule a FREE Demo to know more about Courses and if it is suitable for you. Then happily you can join our Training company. On first day or second day, You should pay training fee and continue to the training.</p><br><br><br>
			</div>
			<div class="tab-pane" id="msg4">
				<h3 class="text-primary">Elgibility Creteria</h3>
				<p>Take courses to build your skills and advance your career as such requires no minimum qualification, although some companies ask for a Higher Secondary level qualification. Mostly, it requires only basic computer and internet surfing skills.</p>
				<h5>Pursuing Students</h5>
				<ul style="list-style-type:none">
					<li>Companies require industry ready Candidates,So that they Can Save training cost and time.</li>
					<li>If you are ready with practical Knowledge during the academics itself, you can save job search time after passed out.</li>
					<li>We will train you in such a way that you can develop a project on your own.</li>
					<li>We Provide experience Certificate for your work which will give weight to your resume.</li>
					<li>Working Employees from Non Technical into IT Jobs</li>
				 </ul>
				<h5>Passed Out Students</h5>
				<ul style="list-style-type:none">
					<li>Don't Waste your time by joining multiple and hard courses. We will help you for your career building</li>
					<li>Join in Our Tarining program and become UI/UX Web developer which is entry path to any technology now a days.</li>
					<li>We provide experience Certificate for your Work Which Will gives weight to your resume.</li>
				 </ul>
				<h5>Students having Backlogs??</h5>
				<ul style="list-style-type:none">
					<li>Until you clear the backlogs, you don't get job. But you want to be independent on your parents.</li>
					<li>We Provide the Training in such a way that you can do projects by your own as Freelancer.</li>
				 </ul>
				<h5>Working Employees from Non Technical into IT Jobs??</h5>
				<ul style="list-style-type:none">
					<li>Most of the Employees from non Technical field have desire to shift into technical field(IT field).</li>
					<li>Without disturbing your current job, tell us your available time to attend for training, so that we can Schedule you training Session.</li>
				 </ul>
			</div>
			<div class="tab-pane" id="msg5">
				<h3 class="text-primary text-center">Portfolio</h3>
				<p>No matter what kind of job position you’re currently in, your goal is not unreachable.Ilander suites allow your personal trainer to focus on you and your workout. We track your progress and encourage you every step of the way because we truly care about helping you succeed. One-on-one personal training allows for the best possible outcomes. Get the personal attention you deserve to help you achieve your goals.</p>
			</div>
		</div>
	</div>
	</section>
	<br><br>
<app-footer></app-footer>