<div class="container-fluid bg-light">
    <div class="row">
       <div class="col-xl-3">
          <div class="page-wrapper chiller-theme toggled mr-0">
             <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
             <i class="fas fa-bars"></i>
             </a>
             <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                   <div class="sidebar-brand">
                      <a href="#">ILT sidebar</a>
                      <div id="close-sidebar">
                         <i class="fas fa-times"></i>
                      </div>
                   </div>
                   <div class="sidebar-header">
                      <div class="user-pic">
                         <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                            alt="User picture">
                      </div>
                      <div class="user-info">
                         <span class="user-name">{{userData.user_fname}}
                         </span>
                         <span class="user-role">Admin</span>
                         <span class="user-status">
                         <i class="fa fa-circle"></i>
                         <span>Online</span>
                         </span>
                      </div>
                   </div>
                   <!-- sidebar-header  -->
                   <div class="sidebar-search">
                      <div>
                         <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                               <span class="input-group-text">
                               <i class="fa fa-search" aria-hidden="true"></i>
                               </span>
                            </div>
                         </div>
                      </div>
                   </div>
                   <!-- sidebar-search  -->
                   <div class="sidebar-menu">
                      <ul>
                         <li class="header-menu">
                            <span>General</span>
                         </li>
                         <li class="sidebar-dropdown">
                            <a routerLink="/dashboard/users">
                            <i class="fa fa-tachometer-alt"></i>
                            <span>USERS</span>
                            <span class="badge badge-pill badge-warning">New</span>
                            </a>
                         </li>
                         <li class="sidebar-dropdown">
                            <a routerLink="/dashboard/deletuser">
                            <i class="fa fa-shopping-cart"></i>
                            <span>DELETE USERS</span>
                            <span class="badge badge-pill badge-danger">3</span>
                            </a>
                         </li>
                         <li class="sidebar-dropdown">
                            <a routerLink="/dashboard/edituser">
                            <i class="far fa-gem"></i>
                            <span>EDIT USER</span>
                            </a>
                         </li>
                         <li class="sidebar-dropdown">
                           <a routerLink="/dashboard/sliders">
                           <i class="far fa-gem"></i>
                           <span>SLIDERS</span>
                           </a>
                        </li>
                        <li class="sidebar-dropdown">
                           <a routerLink="/dashboard/adminhome">
                           <i class="far fa-gem"></i>
                           <span>HOME CONTENTS</span>
                           </a>
                        </li>
                      </ul>
                   </div>
                   <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-content  -->
                <div class="sidebar-footer">
                   <a href="#">
                   <i class="fa fa-bell"></i>
                   <span class="badge badge-pill badge-warning notification">3</span>
                   </a>
                   <a href="#">
                   <i class="fa fa-envelope"></i>
                   <span class="badge badge-pill badge-success notification">7</span>
                   </a>
                   <a href="#">
                   <i class="fa fa-cog"></i>
                   <span class="badge-sonar"></span>
                   </a>
                   <a href="#">
                   <i class="fa fa-power-off"></i>
                   </a>
                </div>
             </nav>
             <!-- sidebar-wrapper  -->
          </div>
          <!-- page-wrapper -->
       </div>
       <div class="col-xl-9">
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark ml-0">
             <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                   <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="javascript:void(0)" (click)="logout()">SIGNOUT</a>
                </li>
             </ul>
          </nav>
          <router-outlet></router-outlet>
       </div>
    </div>
 </div>
