<app-header></app-header>
<section class="home container">
    <div class="row">
        <div class="col-12 col-xl-4" style="padding-right: 2px" >
            <div class="p1 row bg-light">
                <div class="col-xl-12 ">
                <h5 class="text-center">ILander Training Benefits</h5>
                <ol class="d">
                    <li>Very Easy to Learn</li>
                    <li>Real Time Trainers</li>
                    <li>1 On 1 Training</li>
                    <li>100% Job Assistance</li>
                    <li>Trending course in India</li>
                    <li>Practical Guidance</li>
                    <li>No ClassRoom Training</li>
                    <li>Resume Preparation</li>
                    <li>Hands on Experience</li>
                    <li>Certified Training</li>
                    <li>Live Project Training</li>
                    <li>Easy to get a job</li>
                </ol>
                </div>
            </div>
            <div class="p1 row bg-light">
                <div class="col-xl-12">
                    <h3 class="text-primary text-center">Drop us a query</h3><br>
                    <div class="input-group" style="padding: 0.5px 40px">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-secondary text-white"><i class="bi bi-person-circle"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Enter your name" id="email">
                    </div><br>
                    <div class="input-group" style="padding: 0.5px 40px">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-secondary text-white"><i class="bi bi-telephone-fill"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Enter Mobile No" id="email">
                    </div><br>
                    <div class="input-group" style="padding: 0.5px 40px">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-secondary text-white"><i class="bi bi-sliders"></i></span>
                        </div>
                        <input type="pwd" class="form-control" placeholder="Enter ur query" id="pwd">
                    </div><br>
                    <div class="input-group" style="padding: 0.5px 40px">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-secondary text-white"><i class="bi bi-envelope-open"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Enter email" id="email">
                    </div><br>
                    <div class="input-group" style="padding: 0.5px 40px">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-secondary text-white"><i class="bi bi-lock"></i></span>
                        </div>
                        <input type="pwd" class="form-control" placeholder="Enter Password" id="pwd">
                    </div>
                    <br>
                    <span class="form-check" style="padding: 1px 40px">
                      <label class="form-check-label" for="check1">
                        <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something"> Iam Human
                      </label>
                      <span style="float:right"><button class="btn btn-danger">Submit</button></span>
                    </span>
                    <br>
                </div>
            </div>
            <div class="p1 row bg-light main">
                <div class="col-xl-12">
                    <h3 class="text-primary text-center">Course Details</h3><br>
                    <div class="pls">
                        <ul class="nav nav-pills nav-justified ">
                            <li class="nav-item">
                                <a href="#msg" data-toggle="pill" class="nav-link active">UI</a>
                            </li>
                            <li class="nav-item">
                                <a href="#msg1" data-toggle="pill" class="nav-link">PHP</a>
                            </li>
                            <li class="nav-item">
                                <a href="#msg2" data-toggle="pill" class="nav-link">Angular</a>
                            </li>
                            <li class="nav-item">
                                <a href="#msg3" data-toggle="pill" class="nav-link">SEO</a>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <div class="tab-content" style="padding:10px 20px">
                        <div class="tab-pane active" id="msg">
                            <img src="assets/images/home2.png" class="text-center" width="100%"/>
                            <div class="jumbotron ff">HTML5, CSS3, Bootstrap 3 & 4, Photoshop, PSD to HTML Conversion, PSD Design, Live Project.<br>
                            <strong>Duration :</strong> 30 Days (8 Hrs Per Day) | 45 Days (4 Hrs Per Day)<br>
                            Fee :12000/-
                            </div>
                        </div>
                        <div class="tab-pane" id="msg1">
                            <img src="assets/images/home3.png" class="text-center" width="100%"/>
                            <div class="jumbotron ff">HTML5, CSS3, Bootstrap 3 & 4, Photoshop, PSD to HTML Conversion, PSD Design, Live Project.<br>
                            <strong>Duration :</strong> 30 Days (8 Hrs Per Day) | 45 Days (4 Hrs Per Day)<br>
                            Fee :12000/-
                            </div>
                        </div>
                        <div class="tab-pane" id="msg2">
                            <img src="assets/images/home4.png" class="text-center" width="100%"/>
                            <div class="jumbotron ff">HTML5, CSS3, Bootstrap 3 & 4, Photoshop, PSD to HTML Conversion, PSD Design, Live Project.<br>
                            <strong>Duration :</strong> 30 Days (8 Hrs Per Day) | 45 Days (4 Hrs Per Day)<br>
                            Fee :12000/-
                            </div>
                        </div>
                        <div class="tab-pane" id="msg3">
                            <img src="assets/images/home5.jpg" class="text-center" width="100%"/>
                            <div class="jumbotron ff">HTML5, CSS3, Bootstrap 3 & 4, Photoshop, PSD to HTML Conversion, PSD Design, Live Project.<br>
                            <strong>Duration :</strong> 30 Days (8 Hrs Per Day) | 45 Days (4 Hrs Per Day)<br>
                            Fee :12000/-
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p1 row bg-light">
                <div class="col-xl-12">
                    <iframe src="http://ilandertech.com/" width="100%" height="450px" ></iframe>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-8 bg-light g1 ">
            <div class="row " >
                <div class="col-12 col-xl-6 s1" *ngFor="let x of res">
                    <div class="text-center">
                    <h5>{{x.d_name}}</h5>
                    <img [src]="filepath+x.d_img" alt="" width="300px" height="250px"/>
                    </div><br>
                    <p style="padding:10px">{{x.d_desc}}</p>
                </div>
                <!--<div class="col-12 col-xl-6 r1" >
                    <div class="text-center">
                    <h5>{{x.d_name}}</h5>
                    <img [src]="filepath+x.d_img" alt="" width="200px" height="150px"/>
                    </div><br>
                    <p>{{x.d_desc}}</p>
                </div>
                <div class="col-12 col-xl-6 r1">*ngFor="let x of res"
                    <div class="text-center">
                    <h5>1 On 1 TRAINING</h5>
                    <img src="assets/images/home1.jpg" width="70%">
                    </div>
                    <p>You have the attention of the trainer all the time so that you will be able to listen to or speak to them whenever you wish. You will have no time constraint so that you can carry on at your own pace and pressure in your study.</p>
                </div>-->
            </div>
            <!--<div class="row ">
                <div class="col-12 col-xl-6 s1">
                    <div class="text-center">
                    <h5>1 On 1 TRAINING</h5>
                    <img src="assets/images/home1.jpg" width="70%">
                    </div>
                    <p>You have the attention of the trainer all the time so that you will be able to listen to or speak to them whenever you wish. You will have no time constraint so that you can carry on at your own pace and pressure in your study.</p>
                </div>
                <div class="col-12 col-xl-6 r1">
                    <div class="text-center">
                    <h5>1 On 1 TRAINING</h5>
                    <img src="assets/images/home1.jpg" width="70%">
                    </div>
                    <p>You have the attention of the trainer all the time so that you will be able to listen to or speak to them whenever you wish. You will have no time constraint so that you can carry on at your own pace and pressure in your study.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-xl-6 s1">
                    <div class="text-center">
                    <h5>1 On 1 TRAINING</h5>
                    <img src="assets/images/home1.jpg" width="70%">
                    </div>
                    <p>You have the attention of the trainer all the time so that you will be able to listen to or speak to them whenever you wish. You will have no time constraint so that you can carry on at your own pace and pressure in your study.</p>
                </div>
                <div class="col-12 col-xl-6 r1">
                    <div class="text-center">
                    <h5>1 On 1 TRAINING</h5>
                    <img src="assets/images/home1.jpg" width="70%">
                    </div>
                    <p>You have the attention of the trainer all the time so that you will be able to listen to or speak to them whenever you wish. You will have no time constraint so that you can carry on at your own pace and pressure in your study.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-xl-6 s1">
                    <div class="text-center">
                    <h5>1 On 1 TRAINING</h5>
                    <img src="assets/images/home1.jpg" width="70%">
                    </div>
                    <p>You have the attention of the trainer all the time so that you will be able to listen to or speak to them whenever you wish. You will have no time constraint so that you can carry on at your own pace and pressure in your study.</p>
                </div>
                <div class="col-12 col-xl-6 r1">
                    <div class="text-center">
                    <h5>1 On 1 TRAINING</h5>
                    <img src="assets/images/home1.jpg" width="70%">
                    </div>
                    <p>You have the attention of the trainer all the time so that you will be able to listen to or speak to them whenever you wish. You will have no time constraint so that you can carry on at your own pace and pressure in your study.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-xl-6 s1">
                    <div class="text-center">
                    <h5>1 On 1 TRAINING</h5>
                    <img src="assets/images/home1.jpg" width="70%">
                    </div>
                    <p>You have the attention of the trainer all the time so that you will be able to listen to or speak to them whenever you wish. You will have no time constraint so that you can carry on at your own pace and pressure in your study.</p>
                </div>
                <div class="col-12 col-xl-6 r1">
                    <div class="text-center">
                    <h5>1 On 1 TRAINING</h5>
                    <img src="assets/images/home1.jpg" width="70%">
                    </div>
                    <p>You have the attention of the trainer all the time so that you will be able to listen to or speak to them whenever you wish. You will have no time constraint so that you can carry on at your own pace and pressure in your study.</p>
                </div>
            </div>-->

        </div>
    </div>
</section>
<br><br>
<app-footer></app-footer>